<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Clear LocalStorage</title>
  <link rel="stylesheet" href="/common/css/bootstrap.min.css">
  <link rel="stylesheet" href="/common/css/solid.css">
</head>
<body>
<div class="container">
  <div class="page-title">
    <h1>Clear Cookies!</h1>
  </div>

  <button class="btn btn-primary" id="cookie-clear">Clear Cookies!</a>
  <script src="/common/js/clear-button.js" defer></script>
</div>
</body>
</html>
